<!-- 側邊欄組件 -->
<div class="side">
        <div class="header">
            <div class="name">
                <a class="name" href="#" onclick="showDefaultPage(); return false;">MADetect</a>
            </div>
        </div>
        
        <div class="l_create">
            <div class="l_create_l">
                <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#create">
                    <i class="fa-regular fa-square-plus"></i>
                </a>
            </div>
            <div class="l_create_r">
                <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#question">
                    <i class="fa-solid fa-circle-question"></i>
                </a>
            </div>
        </div>
        
        <div class="l_middle">
            <!-- 專案列表將由 JavaScript 動態載入 -->
            <div class="title">
                <div class="text">載入中...</div>
            </div>
        </div>
        
        <!-- 問題回報 -->
        <div class="l_report">
            <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#report">問題回報</a>
        </div>
        
        <div class="l_bottom">
            <!-- 帳號設定 -->
            <div class="l_bottom_l">
                <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#account" class="l_word">Setting</a>
            </div>
            <!-- 登出 -->
            <div class="l_bottom_r">
                <a class="r_word" href="/signout">Log Out</a>
            </div>
        </div>
    </div>
